.unique .swiper-slide {
  width: 430px !important;
  padding: 2px;
  margin: 0px 10px;
  height: 410px !important;
}

.unique .swiper-pagination {
  margin-top: 230px !important;
  display: flex !important;
  justify-items: center !important;
  margin-left: 560px;
}

.unique .slider-controler {
  margin-top: -90px;
  margin-left: 900px;
  display: flex;
  gap: -90px;
}

.slide {
  padding: 2rem 0;
}
@media (max-width: 500px) {
  .unique .swiper-pagination {
    display: flex;
    justify-content: center;
    margin-top: 100px !important;
    margin-left: 30px;
    display: flex !important;
    /* margin: auto !important; */
    justify-items: center !important;
  }
  .slide .slider-controler {
    margin-top: 10px;
    margin-left: 520px;
    display: flex;
    gap: -20px;
  }
}

@media (max-width: 500px) {
  .unique .swiper-slide {
    width: 100% !important;
    padding: 2px;
    margin: 0px 10px;
    height: 410px !important;
  }
}
